g-ied.json
[
    {
        "id": "3b3b3bd8ed7187ea",
        "type": "tab",
        "label": "G-IED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebff01b2ab5c17c7",
        "type": "subflow",
        "name": "IED",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 100,
                "wires": [
                    {
                        "id": "7324daa98bc4c7d5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 100,
                "wires": [
                    {
                        "id": "7324daa98bc4c7d5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 900,
                "y": 200,
                "wires": [
                    {
                        "id": "7e2ee599ed3a1da4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1000,
                "y": 440,
                "wires": [
                    {
                        "id": "6ab4edb83eb1758b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3b5e9486fa3d6e62",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36d2a8a0962b6e53",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0300cc",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8b7ff1370815ca25",
        "type": "ui_group",
        "name": "Default",
        "tab": "3b5e9486fa3d6e62",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "103fa0a5e42e3192",
        "type": "modbus-client",
        "z": "ebff01b2ab5c17c7",
        "name": "ModSim32",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "host.docker.internal",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "7324daa98bc4c7d5",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "computes CB0",
        "func": "var value = flow.get(\"Value\");\nvar threshold = flow.get(\"Threshold\");\nvar state = flow.get(\"State\");\nvar cb0 = flow.get(\"CB0\");\n//Genera un valore casuale nell'insieme {-1, 0, 1}\nvar delta = Math.round(Math.random()*2 - 1);\n\nvalue += delta;\nif (msg.topic == \"Injection\")\n    value += threshold;\nif (msg.topic == \"Restoration\" || value<0 || value>threshold*4)\n    value = threshold/2;\n\ncb0 = 1;\n//se IED è disattivato oppure\n//il valore è superiore alla soglia\n//CB0 viene tenuto chiuso.\nif (state==0 || value>threshold)\n    cb0 = 0;\n\nmsg.payload = [cb0];\nmsg.value = value;\n\nflow.set(\"Value\", value);\nflow.set(\"CB0\", cb0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"Value\", 25);\nflow.set(\"Threshold\", 50);\nflow.set(\"State\", 0);",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "111a1ce21b25c4a7"
            ]
        ]
    },
    {
        "id": "7e2ee599ed3a1da4",
        "type": "modbus-write",
        "z": "ebff01b2ab5c17c7",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "0",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "1",
        "server": "103fa0a5e42e3192",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "95e679e3ff5e511f"
            ],
            []
        ],
        "inputLabels": [
            "msg.payload"
        ]
    },
    {
        "id": "111a1ce21b25c4a7",
        "type": "delay",
        "z": "ebff01b2ab5c17c7",
        "name": "generates some delay",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 160,
        "wires": [
            [
                "7e2ee599ed3a1da4"
            ]
        ]
    },
    {
        "id": "024821b5ce7b7cfa",
        "type": "inject",
        "z": "ebff01b2ab5c17c7",
        "name": "every interval",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "7324daa98bc4c7d5",
                "19129cd1cca27bd0"
            ]
        ]
    },
    {
        "id": "95e679e3ff5e511f",
        "type": "modbus-response",
        "z": "ebff01b2ab5c17c7",
        "name": "Receives a response",
        "registerShowMax": 20,
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "19129cd1cca27bd0",
        "type": "modbus-server",
        "z": "ebff01b2ab5c17c7",
        "name": "the server is listening",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": 10502,
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": "10",
        "holdingBufferSize": "10",
        "inputBufferSize": "10",
        "discreteBufferSize": "10",
        "showErrors": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "8ec6196c115f659c"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "8ec6196c115f659c",
        "type": "buffer-parser",
        "z": "ebff01b2ab5c17c7",
        "name": "reads a register",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "value",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "6ab4edb83eb1758b"
            ]
        ]
    },
    {
        "id": "6ab4edb83eb1758b",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "sets the state",
        "func": "var registerValue = msg.payload;\nvar state = flow.get(\"State\");\n\n//Se il PLC invia un valore alto,\n//allora il dispositivo viene attivato.\nif (registerValue > 0)\n    state = 1;\nelse\n    state = 0;\n\nmsg.payload = state;\n\nflow.set(\"State\", state);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"CB0\", 0);",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4e96a4ee949135f8",
        "type": "subflow:ebff01b2ab5c17c7",
        "z": "3b3b3bd8ed7187ea",
        "name": "IED",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "ae27c91aae8f8d4b"
            ],
            [
                "04736cc2488602b1"
            ],
            [
                "e2ab92567cdbeb8c"
            ]
        ]
    },
    {
        "id": "ae27c91aae8f8d4b",
        "type": "ui_gauge",
        "z": "3b3b3bd8ed7187ea",
        "name": "ShowValue",
        "group": "8b7ff1370815ca25",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "50",
        "className": "",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "04736cc2488602b1",
        "type": "ui_text",
        "z": "3b3b3bd8ed7187ea",
        "group": "8b7ff1370815ca25",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ShowCB0",
        "label": "CB0:",
        "format": "{{msg.payload.value[0]}}",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2ab92567cdbeb8c",
        "type": "ui_text",
        "z": "3b3b3bd8ed7187ea",
        "group": "8b7ff1370815ca25",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "ShowState",
        "label": "State:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "df2f1a061b3de1d8",
        "type": "ui_button",
        "z": "3b3b3bd8ed7187ea",
        "name": "Injects a failure",
        "group": "8b7ff1370815ca25",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inject",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Injection",
        "topicType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "4e96a4ee949135f8"
            ]
        ]
    },
    {
        "id": "b06652c825814228",
        "type": "ui_button",
        "z": "3b3b3bd8ed7187ea",
        "name": "Restores",
        "group": "8b7ff1370815ca25",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restore",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Restoration",
        "topicType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "4e96a4ee949135f8"
            ]
        ]
    },
    {
        "id": "d90ed2cac6a02473",
        "type": "comment",
        "z": "3b3b3bd8ed7187ea",
        "name": "Funzionamento di G-IED",
        "info": "Il componente IED è generato come subflow.\n\nLo IED calcola una grandezza e invia un valore al PLC\nper informare dello stato di CB0.\nIl PLC può modificare lo stato dell'IED richiedendo la\nscrittura di un valore.\n\nQuando il PLC è spento, CB0 è sempre basso.\nQuando il PLC è acceso, CB0 è alto quando il valore è\ninferiore alla soglia.",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "a0d12e8efdc79ead",
        "type": "inject",
        "z": "3b3b3bd8ed7187ea",
        "name": "Injects a failure",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Injection",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "4e96a4ee949135f8"
            ]
        ]
    },
    {
        "id": "c6a2a73eb5f045b9",
        "type": "inject",
        "z": "3b3b3bd8ed7187ea",
        "name": "Restores",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Restoration",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "4e96a4ee949135f8"
            ]
        ]
    }
]