Node-RED/flows.json
[
    {
        "id": "6e68ccc7619dd4a3",
        "type": "tab",
        "label": "General PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b3b3bd8ed7187ea",
        "type": "tab",
        "label": "G-IED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebff01b2ab5c17c7",
        "type": "subflow",
        "name": "IED",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 760,
                "wires": [
                    {
                        "id": "1a23bd909095073e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7e859fb4550fa5a8",
        "type": "modbus-client",
        "name": "PLC2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.0.0.24",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "3b5e9486fa3d6e62",
        "type": "ui_tab",
        "name": "Plant",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36d2a8a0962b6e53",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0300cc",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8b7ff1370815ca25",
        "type": "ui_group",
        "name": "G-IED",
        "tab": "3b5e9486fa3d6e62",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "103fa0a5e42e3192",
        "type": "modbus-client",
        "z": "ebff01b2ab5c17c7",
        "name": "ModSim32",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "host.docker.internal",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "754823324e1fd8fc",
        "type": "ui_group",
        "name": "General PLC",
        "tab": "3b5e9486fa3d6e62",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "831463b0b8bf21ef",
        "type": "modbus-client",
        "name": "PLC1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.0.0.22",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "03f1fba405b5f9d1",
        "type": "ui_group",
        "z": "ebff01b2ab5c17c7",
        "name": "Generator",
        "tab": "3b5e9486fa3d6e62",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc6dada4226f6a68",
        "type": "ui_spacer",
        "z": "6e68ccc7619dd4a3",
        "name": "spacer",
        "group": "754823324e1fd8fc",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "7324daa98bc4c7d5",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "compares the value with a threshold",
        "func": "var threshold = global.get(\"threshold\");\nvar state = global.get(\"state\");\nvar cb0 = flow.get(\"cb0\");\n\nvar failure = 0;\nvar value = 0;\n\ncb0 = 0;\nif (state==1) {\n    value = global.get(\"power\");\n    if (value > threshold) {\n        cb0 = 1;\n        failure = 1;\n    }\n} else value = 0;\n\nflow.set(\"cb0\", cb0);\n\nmsg.cb0 = cb0;\nmsg.value = value;\nmsg.payload = failure;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"threshold\", 50000);\nflow.set(\"state\", 0);",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "ae27c91aae8f8d4b",
                "01603826cd718bf9"
            ]
        ]
    },
    {
        "id": "7e2ee599ed3a1da4",
        "type": "modbus-write",
        "z": "ebff01b2ab5c17c7",
        "name": "writes failure state in the PLC",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "95e679e3ff5e511f"
            ],
            []
        ],
        "inputLabels": [
            "msg.payload"
        ]
    },
    {
        "id": "111a1ce21b25c4a7",
        "type": "delay",
        "z": "ebff01b2ab5c17c7",
        "name": "activates circuit breaker",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "603cb110f15cb39b"
            ]
        ]
    },
    {
        "id": "024821b5ce7b7cfa",
        "type": "inject",
        "z": "ebff01b2ab5c17c7",
        "name": "every interval",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "7324daa98bc4c7d5",
                "65c29bc7993bf667"
            ]
        ]
    },
    {
        "id": "95e679e3ff5e511f",
        "type": "modbus-response",
        "z": "ebff01b2ab5c17c7",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "8ec6196c115f659c",
        "type": "buffer-parser",
        "z": "ebff01b2ab5c17c7",
        "name": "reads the state",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "state",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "6ab4edb83eb1758b"
            ]
        ]
    },
    {
        "id": "6ab4edb83eb1758b",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "and sets the state",
        "func": "var registerValue = msg.payload;\nvar state = global.get(\"state\");\n\n//Se il PLC invia un valore alto,\n//allora il dispositivo viene attivato.\nif (registerValue > 0)\n    state = 1;\nelse\n    state = 0;\n\nmsg.payload = state;\n\nglobal.set(\"state\", state);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"cb0\", 0);",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 380,
        "wires": [
            [
                "c508fce9b140fe4d"
            ]
        ]
    },
    {
        "id": "1a23bd909095073e",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "the plant generates power",
        "func": "var generator = global.get(\"generator\");\nvar power = global.get(\"power\");\nvar threshold = global.get(\"threshold\");\n\nif (generator == \"on\") {\n    //Iniezione di un guasto nel sistema\n    if (msg.topic == \"injection\")\n        power += threshold;\n    //Ripristino del sistema a un valore sicuro\n    else if (msg.topic == \"restoration\")\n        power = threshold/2;\n    else {\n        //Genera un valore casuale nell'insieme {-1, 0, 1}\n        var delta = (Math.round(Math.random() * 2 - 1)) * 500;\n        power += delta;\n    }\n    //Se il valore ottenuto eccede i range\n    //viene ricondotto a un valore standard\n    if (power < 0 || power > 2 * threshold)\n        power = threshold / 2;\n} else\n    power = 0;\n\nmsg.payload = power;\n\nglobal.set(\"power\", power);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nvar threshold = global.get(\"threshold\");\n\nglobal.set(\"generator\", \"on\");\nglobal.set(\"power\", threshold/2);",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "2feaf5cb346f6bbf"
            ]
        ]
    },
    {
        "id": "603cb110f15cb39b",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "generates a value for the LED",
        "func": "var cb0 = msg.cb0;\n\nmsg.payload = cb0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "4db6d3fc7a30a1bb"
            ]
        ]
    },
    {
        "id": "ae27c91aae8f8d4b",
        "type": "ui_gauge",
        "z": "ebff01b2ab5c17c7",
        "name": "ValueGauge",
        "group": "8b7ff1370815ca25",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35000",
        "seg2": "50000",
        "className": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "4db6d3fc7a30a1bb",
        "type": "ui_led",
        "z": "ebff01b2ab5c17c7",
        "order": 2,
        "group": "8b7ff1370815ca25",
        "width": 0,
        "height": 0,
        "label": "CB0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CB0Led",
        "x": 1380,
        "y": 240,
        "wires": []
    },
    {
        "id": "c508fce9b140fe4d",
        "type": "ui_led",
        "z": "ebff01b2ab5c17c7",
        "order": 3,
        "group": "8b7ff1370815ca25",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "StateLed",
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "79e4198832d4910a",
        "type": "comment",
        "z": "ebff01b2ab5c17c7",
        "name": "Real IED",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "085c56993b9aec04",
        "type": "comment",
        "z": "ebff01b2ab5c17c7",
        "name": "Generator",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "7c8ef3e671484c45",
        "type": "inject",
        "z": "ebff01b2ab5c17c7",
        "name": "every interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "\"Power generation\"",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "1a23bd909095073e"
            ]
        ]
    },
    {
        "id": "2feaf5cb346f6bbf",
        "type": "ui_chart",
        "z": "ebff01b2ab5c17c7",
        "name": "",
        "group": "03f1fba405b5f9d1",
        "order": 1,
        "width": 6,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "65c29bc7993bf667",
        "type": "modbus-flex-server",
        "z": "ebff01b2ab5c17c7",
        "name": "the server is listening",
        "logEnabled": false,
        "serverAddress": "0.0.0.0",
        "serverPort": "10502",
        "responseDelay": 100,
        "unitId": "3",
        "delayUnit": "ms",
        "coilsBufferSize": "20000",
        "registersBufferSize": "20000",
        "minAddress": 0,
        "splitAddress": 10000,
        "funcGetCoil": "function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
        "funcGetDiscreteInput": "function getFlexDiscreteInput(addr, unitID) {\n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}",
        "funcGetInputRegister": "function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
        "funcGetHoldingRegister": "function getFlexHoldingRegsiter(addr, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}",
        "funcSetCoil": "function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}",
        "funcSetRegister": "function setFlexRegister(addr, value, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}",
        "showErrors": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "8ec6196c115f659c",
                "fd7bdf06e4cf8da1"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "01603826cd718bf9",
        "type": "switch",
        "z": "ebff01b2ab5c17c7",
        "name": "if the failure state is updated",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "prev"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "7e2ee599ed3a1da4",
                "111a1ce21b25c4a7"
            ]
        ]
    },
    {
        "id": "70af2e35d9fb9616",
        "type": "inject",
        "z": "ebff01b2ab5c17c7",
        "name": "every long interval",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "0d26a23cb63957db",
                "4e39627741de2291"
            ]
        ]
    },
    {
        "id": "0d26a23cb63957db",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "reads the power value",
        "func": "var power = global.get(\"power\");\nvar state = global.get(\"state\");\n\nmsg.payload = power;\nmsg.state = state;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "b63ce68a01b6d512"
            ]
        ]
    },
    {
        "id": "e5230ff3aff07b26",
        "type": "modbus-write",
        "z": "ebff01b2ab5c17c7",
        "name": "writes the power value in the PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 860,
        "y": 500,
        "wires": [
            [
                "d848f5f1696a4211"
            ],
            []
        ]
    },
    {
        "id": "d848f5f1696a4211",
        "type": "modbus-response",
        "z": "ebff01b2ab5c17c7",
        "name": "and it receives a response",
        "registerShowMax": 20,
        "x": 1170,
        "y": 500,
        "wires": []
    },
    {
        "id": "fd7bdf06e4cf8da1",
        "type": "buffer-parser",
        "z": "ebff01b2ab5c17c7",
        "name": "reads the command",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "cmd",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "bde7e23b159bbcfd"
            ]
        ]
    },
    {
        "id": "bde7e23b159bbcfd",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "updates the command",
        "func": "var cmd = msg.payload[0];\n\nglobal.set(\"cmd\", cmd);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"cmd\", 0);",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4e39627741de2291",
        "type": "function",
        "z": "ebff01b2ab5c17c7",
        "name": "executes the command",
        "func": "var power = global.get(\"power\");\nvar cmd = global.get(\"cmd\");\nvar state = global.get(\"state\");\n\nif(state == 1) {\n    if (cmd == 0)\n        power += 0;\n    else if (cmd == 1)\n        power -= 2000;\n    else if (cmd == 2)\n        power += 2000;\n}\n\nglobal.set(\"power\", power);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b63ce68a01b6d512",
        "type": "switch",
        "z": "ebff01b2ab5c17c7",
        "name": "",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "e5230ff3aff07b26"
            ]
        ]
    },
    {
        "id": "e778877145f64af1",
        "type": "ui_switch",
        "z": "6e68ccc7619dd4a3",
        "name": "ConnectSwitch",
        "label": "Connect",
        "tooltip": "",
        "group": "754823324e1fd8fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Connection",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "2070a79f2d85bdde"
            ]
        ]
    },
    {
        "id": "2070a79f2d85bdde",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "connects the grid",
        "func": "if (msg.payload == true)\n    msg.payload = 1;\nelse if (msg.payload == false)\n    msg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "21d9f3f50408d53a"
            ]
        ]
    },
    {
        "id": "21d9f3f50408d53a",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes the value in the PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "d2a233d1c17e3b06"
            ],
            []
        ]
    },
    {
        "id": "d2a233d1c17e3b06",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "ec5b6ec1a54e73aa",
        "type": "modbus-read",
        "z": "6e68ccc7619dd4a3",
        "name": "reads the failure state in the PLC ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "831463b0b8bf21ef",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "ecfa19f130dbb6cc",
                "f83581df9629834b",
                "5c9ffe43903514d6"
            ],
            []
        ]
    },
    {
        "id": "ecfa19f130dbb6cc",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "6df0b24d0ba88a26",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes values in the PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "25",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 670,
        "y": 640,
        "wires": [
            [
                "ed435d717a40ac77"
            ],
            []
        ]
    },
    {
        "id": "ed435d717a40ac77",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 950,
        "y": 620,
        "wires": []
    },
    {
        "id": "dbeb7a946c25f60d",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "generates the message",
        "func": "msg.payload = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 620,
        "wires": [
            [
                "6df0b24d0ba88a26"
            ]
        ]
    },
    {
        "id": "398332ac06ec2365",
        "type": "modbus-read",
        "z": "6e68ccc7619dd4a3",
        "name": "reads PLC memory",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "25",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "831463b0b8bf21ef",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 840,
        "wires": [
            [
                "57955f162a9e015a"
            ],
            []
        ]
    },
    {
        "id": "57955f162a9e015a",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 410,
        "y": 820,
        "wires": []
    },
    {
        "id": "c9348ca6d5c99776",
        "type": "comment",
        "z": "6e68ccc7619dd4a3",
        "name": "PLC memory",
        "info": "Questi flow permettono di effettuare\nopportunamente il clean e la lettura\ndella memoria.",
        "x": 190,
        "y": 740,
        "wires": []
    },
    {
        "id": "315b019c23f014ac",
        "type": "comment",
        "z": "6e68ccc7619dd4a3",
        "name": "PLC connection",
        "info": "Questi flow permettono di inviare\nil segnale al PLC, che richiederà la\nconnessione a G-IED.",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "35e64ebd7905c08f",
        "type": "ui_led",
        "z": "6e68ccc7619dd4a3",
        "order": 4,
        "group": "754823324e1fd8fc",
        "width": 0,
        "height": 0,
        "label": "Failure",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "FailureLED",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "f83581df9629834b",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "generates a value for the LED",
        "func": "var connect = msg.payload[0];\n\nmsg.payload = connect;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "35e64ebd7905c08f"
            ]
        ]
    },
    {
        "id": "5c9ffe43903514d6",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "stops the generator downstream of a failure",
        "func": "var counter = flow.get(\"counter\");\n\nvar failure = msg.payload[0];\nvar period = 10;\n\nif (failure) {\n    counter = (++counter)%period;\n     if (counter == 0)\n        global.set(\"generator\", \"off\");\n} else\n    counter = 0;\n    \nmsg.payload = counter;\n\nflow.set(\"counter\", counter);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"counter\", 0);",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "d53c695155ac2117"
            ]
        ]
    },
    {
        "id": "d53c695155ac2117",
        "type": "debug",
        "z": "6e68ccc7619dd4a3",
        "name": "CounterDebug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d9bde2834bc3ad7",
        "type": "inject",
        "z": "6e68ccc7619dd4a3",
        "name": "every interval",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "\"Generator state\"",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "7b5937f8ce1b25a0"
            ]
        ]
    },
    {
        "id": "7b5937f8ce1b25a0",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "reads generator state",
        "func": "var generator = global.get(\"generator\");\n\nif (generator == \"on\")\n    msg.payload = true;\nelse\n    msg.payload = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "646409ba72e3da11",
                "3f40092a829ad985"
            ]
        ]
    },
    {
        "id": "646409ba72e3da11",
        "type": "ui_led",
        "z": "6e68ccc7619dd4a3",
        "order": 3,
        "group": "754823324e1fd8fc",
        "width": 0,
        "height": 0,
        "label": "Generator",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "GeneratorLED",
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "3f40092a829ad985",
        "type": "debug",
        "z": "6e68ccc7619dd4a3",
        "name": "GeneratorDebug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4b34a436dca5741",
        "type": "ui_button",
        "z": "6e68ccc7619dd4a3",
        "name": "RestartButton",
        "group": "754823324e1fd8fc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "restart",
        "topicType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "e62f7ed95179cd57",
                "dbeb7a946c25f60d"
            ]
        ]
    },
    {
        "id": "e62f7ed95179cd57",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "restarts the plant",
        "func": "var threshold = global.get(\"threshold\");\n\nif (msg.topic == \"restart\") {\n    global.set(\"generator\", \"on\");\n    global.set(\"power\", threshold/2);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4e96a4ee949135f8",
        "type": "subflow:ebff01b2ab5c17c7",
        "z": "3b3b3bd8ed7187ea",
        "name": "IED1",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "df2f1a061b3de1d8",
        "type": "ui_button",
        "z": "3b3b3bd8ed7187ea",
        "name": "FailureButton",
        "group": "754823324e1fd8fc",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Inject",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "injection",
        "topicType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "4e96a4ee949135f8"
            ]
        ]
    },
    {
        "id": "b06652c825814228",
        "type": "ui_button",
        "z": "3b3b3bd8ed7187ea",
        "name": "RestoreButton",
        "group": "754823324e1fd8fc",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Restore",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "restoration",
        "topicType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "4e96a4ee949135f8"
            ]
        ]
    },
    {
        "id": "d90ed2cac6a02473",
        "type": "comment",
        "z": "3b3b3bd8ed7187ea",
        "name": "Funzionamento di G-IED",
        "info": "Il componente IED è generato come subflow.\n\nLo IED calcola una grandezza e invia un valore al PLC\nper informare dello stato di CB0.\nIl PLC può modificare lo stato dell'IED richiedendo la\nscrittura di un valore.\n\nQuando il PLC è spento, CB0 è sempre basso.\nQuando il PLC è acceso, CB0 è alto quando il valore è\ninferiore alla soglia.",
        "x": 230,
        "y": 80,
        "wires": []
    }
]