Node-RED/generalplc.json
[
    {
        "id": "6e68ccc7619dd4a3",
        "type": "tab",
        "label": "General PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b5e9486fa3d6e62",
        "type": "ui_tab",
        "name": "General PLC",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36d2a8a0962b6e53",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0300cc",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "754823324e1fd8fc",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3b5e9486fa3d6e62",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "831463b0b8bf21ef",
        "type": "modbus-client",
        "name": "Generation PLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.0.0.22",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "3",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "1ade4fc3193216b5",
        "type": "ui_spacer",
        "z": "6e68ccc7619dd4a3",
        "name": "spacer",
        "group": "754823324e1fd8fc",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "e778877145f64af1",
        "type": "ui_switch",
        "z": "6e68ccc7619dd4a3",
        "name": "ConnectSwitch",
        "label": "Connect IED",
        "tooltip": "",
        "group": "754823324e1fd8fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "connection",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "2070a79f2d85bdde"
            ]
        ]
    },
    {
        "id": "2070a79f2d85bdde",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "connects the grid",
        "func": "if (msg.payload == true)\n    msg.payload = 1;\nelse if (msg.payload == false)\n    msg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "21d9f3f50408d53a"
            ]
        ]
    },
    {
        "id": "21d9f3f50408d53a",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes the value in Generation PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 660,
        "y": 160,
        "wires": [
            [
                "d2a233d1c17e3b06"
            ],
            []
        ]
    },
    {
        "id": "d2a233d1c17e3b06",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec5b6ec1a54e73aa",
        "type": "modbus-read",
        "z": "6e68ccc7619dd4a3",
        "name": "reads the failure state in Generation PLC",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "831463b0b8bf21ef",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "ecfa19f130dbb6cc",
                "f83581df9629834b",
                "5c9ffe43903514d6"
            ],
            []
        ]
    },
    {
        "id": "ecfa19f130dbb6cc",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "398332ac06ec2365",
        "type": "modbus-read",
        "z": "6e68ccc7619dd4a3",
        "name": "reads Generation PLC memory",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "25",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "831463b0b8bf21ef",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 900,
        "wires": [
            [
                "57955f162a9e015a"
            ],
            []
        ]
    },
    {
        "id": "57955f162a9e015a",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 490,
        "y": 880,
        "wires": []
    },
    {
        "id": "c9348ca6d5c99776",
        "type": "comment",
        "z": "6e68ccc7619dd4a3",
        "name": "PLC memory",
        "info": "Questi flow permettono di effettuare\nopportunamente il clean e la lettura\ndella memoria.",
        "x": 190,
        "y": 820,
        "wires": []
    },
    {
        "id": "315b019c23f014ac",
        "type": "comment",
        "z": "6e68ccc7619dd4a3",
        "name": "PLC connection",
        "info": "Questi flow permettono di inviare\nil segnale al PLC, che richiederà la\nconnessione a G-IED.",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "35e64ebd7905c08f",
        "type": "ui_led",
        "z": "6e68ccc7619dd4a3",
        "order": 4,
        "group": "754823324e1fd8fc",
        "width": 0,
        "height": 0,
        "label": "Generator Failure",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "FailureLED",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "f83581df9629834b",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "generates a value for the LED",
        "func": "var connect = msg.payload[0];\n\nmsg.payload = connect;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "35e64ebd7905c08f"
            ]
        ]
    },
    {
        "id": "5c9ffe43903514d6",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "sends a message to shut down the generator after a period of failure",
        "func": "var counter = flow.get(\"counter\");\n\nvar failure = msg.payload[0];\nvar period = 10;\nvar shutdown = false\n\nif (failure) {\n    counter = (++counter)%period;\n     if (counter == 0)\n        shutdown = true;\n} else\n    counter = 0;\n    \nmsg.payload = shutdown;\n\nflow.set(\"counter\", counter);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"counter\", 0);",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "ae515b46644fb66e",
                "4b3d0e5937b1455c"
            ]
        ]
    },
    {
        "id": "ae515b46644fb66e",
        "type": "switch",
        "z": "6e68ccc7619dd4a3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "8773866f99204c9c"
            ]
        ]
    },
    {
        "id": "8773866f99204c9c",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "generates a message to shut down the generator",
        "func": "msg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 600,
        "wires": [
            [
                "a2a6265a6be6f8ea",
                "407e2a6c50a936dd"
            ]
        ]
    },
    {
        "id": "a2a6265a6be6f8ea",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes the value in Generation PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1220,
        "y": 660,
        "wires": [
            [
                "e0761e8f0b77fb2f"
            ],
            []
        ]
    },
    {
        "id": "e0761e8f0b77fb2f",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 1250,
        "y": 720,
        "wires": []
    },
    {
        "id": "4b3d0e5937b1455c",
        "type": "debug",
        "z": "6e68ccc7619dd4a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "407e2a6c50a936dd",
        "type": "debug",
        "z": "6e68ccc7619dd4a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 480,
        "wires": []
    },
    {
        "id": "0b2027782eb827ae",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "connects the grid",
        "func": "if (msg.topic == \"turn on\")\n    msg.payload = 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "b38067262631e284"
            ]
        ]
    },
    {
        "id": "b38067262631e284",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes the value in Generation PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 660,
        "y": 220,
        "wires": [
            [
                "9c6a287d0e12a03b"
            ],
            []
        ]
    },
    {
        "id": "9c6a287d0e12a03b",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "889df0ba111aa43c",
        "type": "ui_button",
        "z": "6e68ccc7619dd4a3",
        "name": "GeneratorButton",
        "group": "754823324e1fd8fc",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Generator Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "turn on",
        "topicType": "str",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "0b2027782eb827ae"
            ]
        ]
    },
    {
        "id": "99c71ae41336789f",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes values in Generation PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "25",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 870,
        "y": 340,
        "wires": [
            [
                "b9256d88acba49c2"
            ],
            []
        ]
    },
    {
        "id": "b9256d88acba49c2",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "753e3c47fb546f45",
        "type": "ui_button",
        "z": "6e68ccc7619dd4a3",
        "name": "RestartButton",
        "group": "754823324e1fd8fc",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "System Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "restart",
        "topicType": "str",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "460c90711eb705d5",
                "07d974bcdfc73141"
            ]
        ]
    },
    {
        "id": "c6552a11776a4b02",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "cleans PLC memory",
        "func": "msg.payload = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "99c71ae41336789f"
            ]
        ]
    },
    {
        "id": "460c90711eb705d5",
        "type": "delay",
        "z": "6e68ccc7619dd4a3",
        "name": "some delay",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "c6552a11776a4b02"
            ]
        ]
    },
    {
        "id": "07d974bcdfc73141",
        "type": "function",
        "z": "6e68ccc7619dd4a3",
        "name": "stops generator ",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "07a3927746a3c9dd"
            ]
        ]
    },
    {
        "id": "07a3927746a3c9dd",
        "type": "modbus-write",
        "z": "6e68ccc7619dd4a3",
        "name": "writes the value in Generation PLC",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "831463b0b8bf21ef",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "34c9879428da01ef"
            ],
            []
        ]
    },
    {
        "id": "34c9879428da01ef",
        "type": "modbus-response",
        "z": "6e68ccc7619dd4a3",
        "name": "and receives a response",
        "registerShowMax": 20,
        "x": 950,
        "y": 280,
        "wires": []
    }
]